%h1 Portfolio
%p
  My work at Radical Designs enabled organziations to plan a national day of action.  Successfully launched a dozen clients using the rEvent system:
%p
  Help deploy rEvent for the following national day of action events:
%p
  = link_to "Step It Up!", "http://events.stepitup2007.org/november", :popup => true
%p  
  = link_to "Service Nation", "http://events.servicenation.org", :popup => true
%p
  = link_to "Green Jobs Now!", "http://events.greenjobsnow.com", :popup => true
%p
  = link_to "5 Years Too Many", "http://events.unitedforpeace.org/5yearstoomany", :popup => true
  = link_to "Mom's Rising", "http://events.unitedforpeace.org/5yearstoomany", :popup => true
%p
  <a href="http://events.workingfilms.org">Working Films</a><br/>
  <a href="http://events.womenarts.org">Women Arts</a><br/>
%p
  <a href="http://events.womenarts.org">Action Echo</a><br/>
